{
  "credentials": {
      "owner": {
        "username": "",
        "password": ""
      },
      "member": {
        "username": "",
        "password": ""
      }
    },
    "url": {
      "trello": ""
    }
    "local": {
      "browser": ""
    }
}
